.body {
    display: flex;

}

.header {
    width: 1500px;
    height: 150px;
    background-color: aliceblue;
    margin-top: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__items {

}
.header__input {
    margin-bottom: 10px;
}
.div__main-byself {
    /*position: relative;*/
    /*top: 170px;*/
    /*left: 500px;*/
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 290px;
    left: 720px;
    z-index: 100;
    background-color: green;
}

.span__self_title {
    position: absolute;
    top: 20px;
    left: 33px;
    font-size: 34px;
}
.span__self_title::after {
    /*content: 'I';*/
    /*position: absolute;*/
    /*left: 25px;*/
}

.content--main {
    height: 600px;
    background-color: ghostwhite;


}

.div__field {

    height: 170px;
    width: 170px;
    /*margin: 5px;*/
    /*text-align: center;*/
    border: 1px solid blue;

    /*word-wrap: break-word;*/
    border-radius: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;


}
.slider-wrapper {
    /*width: 20px;*/
    /*min-height: 100px;*/
    /*padding: 0;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    /*flex-direction: column;*/

}

.span__title {
    /*align-self: flex-start;*/
    user-select: all;

}

.span__rating {
    /*align-self: flex-start;*/
}

.btn__remove {
    /*margin: 0 5px 15px 0;*/
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid yellow;
    /*box-shadow: 1px 1px 2px yellow;*/
    /*align-self: flex-end;*/
    /*user-select: none;*/

}
.btn__remove:hover {

    cursor: pointer;
    box-shadow: 2px -1px 2px yellow;
}


.input__range-indic {
    width: 65px;
    height: 5px;
    margin: 35px 0;
    transform-origin: 0px 0px 0px 0px;
    transform: rotate(-90deg);
    color: #cef41c;


    -webkit-appearance: none;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /*align-self: center;*/
}
.input__range-indic:hover {
    opacity: 0.8;
}
.input__range-indic::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: yellow;
    cursor: pointer;
}

.window {
    position: fixed;
    opacity: 0;
    width: 200px;
    min-height: 100px;
    border: 1px solid black;
    transition: all linear 1ms;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.window.show {
    opacity: 1;
    top: 50px;
}

.window__ul-list {
    list-style: none;
}

.removezone {
    position: relative;
    top: 450px;
    left: 700px;
    width: 80px;
    height: 70px;
    visibility: hidden;
}
.removezone:hover {
    opacity: 0.8;
}

.window__ul-list {
    margin:0;
    padding:0;
}
.window__li {
    cursor:move;
    display:block;
    padding:20px 10px;
    background:white;
    border-bottom:solid 1px gray;
}

.dragElem {
    opacity: 0.4;
}

.over {
    border-top: 2px solid blue;
}

