body {
    max-width: 800px;
}

.div__main-byself {
    border: 1px solid black;
    position: absolute;
    top: 100px;
    left: 350px;
    width: 100px;
    text-align: center;
}
.div__field {
    border: 1px solid blue;
    width: 80px;
    text-align: center;
    margin: 5px
}
#commondiv_group {
    background-color: azure;
    height: 300px;

}

.div__fields {
    position:absolute;
    top: 150px;
    left: 360px;
}

.window {
    position: fixed; /* относительно видимого окна */

    opacity: 0;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    transition: all linear 1ms;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: mediumslateblue;
}

.window.show {
    opacity: 1;
    top: 50px;
}

.window__ul-list {
    list-style: none;
}